canvas {
    display: block;
    margin: 0 auto;
    width: 80vw;
    height: auto;
    max-height: 100vh;
    max-width: calc(100vh * (160 / 144));
    image-rendering: pixelated;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
} 


@font-face {
    font-family: 'Pixelify Sans';
    src: url('./fonts/Pixelify_Sans/static/PixelifySans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Pixelify Sans Bold';
    src: url('./fonts/Pixelify_Sans/static/PixelifySans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Pixelify Sans Light';
    src: url('./fonts/Pixelify_Sans/static/PixelifySans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'tiny5';
    src: url('./fonts/Tiny5/Tiny5-Regular.ttf') format('truetype');
}